* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
    font-family: 'Arial', sans-serif;
}

body {
    padding: 0;
    min-height: 100%;
    background-image: linear-gradient(29deg, #ff512f 0%, #dd2476 100%);
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #fff;
    min-width: 450px;
    max-width: 460px;
    min-height: 460px;
    color: #7a7b7f;
    padding: 15px 20px 0;
}

.form__header {
    display: flex;
}

.info {
}

.header__img {
    width: 24px;
    margin: 4.5% 1.5% auto;
}

.header_title {
    display: inline-block;
    color: #1b1c1d;
    font-size: 2.4rem;
    font-weight: bold;
}

.header_subtitle {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 4% 2%;
}

.header__link {
    text-decoration: none;
    color: #ea355a;
}

.name__input, .login__input {
    font-size: 1.4rem;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    margin: 2% 1.5%;
}
.name__input, .login__input::placeholder {
    padding: 10px;
}

.name__input {
    width: 45.5%;
}

.login__input {
    width: 95%;
}

.login__input::placeholder {    
    padding: 10px;
}

.btn {
    width: 95%;
    height: 50px;
    background-color: #ea355a;
    box-shadow: 0 3px 0 #bd1962;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1.5% 1.8% 6%;
}

.subsubtitle {
    display: block;
    font-size: 1.3rem;
    padding: 0 7px;
}